
.root{
    -fx-background-color: #E0E0E0;
}

.root_one{
    -fx-background-color: #E0E0E0;
}

.side_ankerpane{
    -fx-background-color: #454F6D;
    -fx-border-width:2px 2px 2px 2px;
    -fx-border-radius:20px;
    -fx-background-radius:20px;
    -fx-border-style:solid;
}

.inner_pane{
    -fx-background-color: #F0E4D5;
    -fx-border-width:2px 2px 2px 2px;
    -fx-border-radius:20px;
    -fx-background-radius:20px;
    -fx-border-style:solid;
    -fx-border-color: #748CF1;
}

.most_inner_pane{
    -fx-background-color: #FFFFFF;
    -fx-border-width:2px 2px 2px 2px;
    -fx-border-radius:20px;
    -fx-background-radius:20px;
    -fx-border-style:solid;
    -fx-border-color: #748CF1;
}

.btn_dashboard{
    -fx-background-color: #EEEEEE;
    -fx-border-width:2px 2px 2px 2px;
    -fx-border-radius:20px;
    -fx-background-radius:20px;
    -fx-border-style:solid;
    -fx-border-color: #748CF1;
}

.btn_inventory{
    -fx-background-color: #E0E0E0;
    -fx-border-width:2px 2px 2px 2px;
    -fx-border-radius:20px;
    -fx-background-radius:20px;
    -fx-border-style:solid;
    -fx-border-color: #748CF1;
}

.btn_members{
    -fx-background-color: #EEEEEE;
    -fx-border-width:2px 2px 2px 2px;
    -fx-border-radius:20px;
    -fx-background-radius:20px;
    -fx-border-style:solid;
    -fx-border-color: #748CF1;
}

.btn_issue{
    -fx-background-color: #FFFFFF;
    -fx-border-width:2px 2px 2px 2px;
    -fx-border-radius:20px;
    -fx-background-radius:20px;
    -fx-border-style:solid;
    -fx-border-color: #748CF1;
}

.btn_return{
    -fx-background-color: #EEEEEE;
    -fx-border-width:2px 2px 2px 2px;
    -fx-border-radius:20px;
    -fx-background-radius:20px;
    -fx-border-style:solid;
    -fx-border-color: #748CF1;
}

.head{
    -fx-background-color: #E0E0E0;
    -fx-border-radius:20px;
    -fx-background-radius:20px;
}

.txt_search{
    -fx-background-color: #EEEEEE;
    -fx-border-width:2px 2px 2px 2px;
    -fx-border-radius:20px;
    -fx-background-radius:20px;
    -fx-border-style:solid;
    -fx-border-color: #748CF1;
}

.pane_one{
    -fx-background-color:#748CF1;
    -fx-border-width:2px 2px 2px 2px;
    -fx-border-radius:30px;
    -fx-background-radius:30px;
    -fx-border-style:solid;
    -fx-border-color:#748CF1;
}

.pane_one1{
    -fx-background-color:#E0E0E0;
    -fx-border-width:2px 2px 2px 2px;
    -fx-border-radius:30px;
    -fx-background-radius:30px;
    -fx-border-style:solid;
    -fx-border-color:#748CF1;
}

.pane_two{
    -fx-background-color:#FD9999;
    -fx-border-width:2px 2px 2px 2px;
    -fx-border-radius:30px;
    -fx-background-radius:30px;
    -fx-border-style:solid;
    -fx-border-color:#EEEEEE;
}

.pane_three{
    -fx-background-color:#353A56;
    -fx-border-width:2px 2px 2px 2px;
    -fx-border-radius:30px;
    -fx-background-radius:30px;
    -fx-border-style:solid;
    -fx-border-color:#353A56;
}

.pane_23{
    -fx-background-color:#748CF1;
    -fx-border-width:2px 2px 2px 2px;
    -fx-border-radius:15px;
    -fx-background-radius:15px;
    -fx-border-style:solid;
    -fx-border-color:#748CF1;
}