
.root{
    -fx-background-color: #E0E0E0;
}

.root_one{
    -fx-background-color: #E0E0E0;
}

.side_ankerpane{
    -fx-background-color: #454F6D;
    -fx-border-width:2px 2px 2px 2px;
    -fx-border-radius:20px;
    -fx-background-radius:20px;
    -fx-border-style:solid;
}

.inner_pane{
    -fx-background-color: #F0E4D5;
    -fx-border-width:2px 2px 2px 2px;
    -fx-border-radius:20px;
    -fx-background-radius:20px;
    -fx-border-style:solid;
    -fx-border-color: #748CF1;
}

.most_inner_pane{
    -fx-background-color: #FFFFFF;
    -fx-border-width:2px 2px 2px 2px;
    -fx-border-radius:20px;
    -fx-background-radius:20px;
    -fx-border-style:solid;
    -fx-border-color: #748CF1;
}

.btn_dashboard{
    -fx-background-color: #EEEEEE;
    -fx-border-width:2px 2px 2px 2px;
    -fx-border-radius:20px;
    -fx-background-radius:20px;
    -fx-border-style:solid;
    -fx-border-color: #748CF1;
}

.btn_inventory{
    -fx-background-color: #E0E0E0;
    -fx-border-width:2px 2px 2px 2px;
    -fx-border-radius:20px;
    -fx-background-radius:20px;
    -fx-border-style:solid;
    -fx-border-color: #748CF1;
}

.btn_members{
    -fx-background-color: #EEEEEE;
    -fx-border-width:2px 2px 2px 2px;
    -fx-border-radius:20px;
    -fx-background-radius:20px;
    -fx-border-style:solid;
    -fx-border-color: #748CF1;
}

.btn_issue{
    -fx-background-color: #FFFFFF;
    -fx-border-width:2px 2px 2px 2px;
    -fx-border-radius:20px;
    -fx-background-radius:20px;
    -fx-border-style:solid;
    -fx-border-color: #748CF1;
}

.btn_return{
    -fx-background-color: #EEEEEE;
    -fx-border-width:2px 2px 2px 2px;
    -fx-border-radius:20px;
    -fx-background-radius:20px;
    -fx-border-style:solid;
    -fx-border-color: #748CF1;
}

.head{
    -fx-background-color: #E0E0E0;
    -fx-border-radius:20px;
    -fx-background-radius:20px;
}

.txt_search{
    -fx-background-color: #EEEEEE;
    -fx-border-width:2px 2px 2px 2px;
    -fx-border-radius:20px;
    -fx-background-radius:20px;
    -fx-border-style:solid;
    -fx-border-color: #748CF1;
}

.pane_one{
    -fx-background-color:#748CF1;
    -fx-border-width:2px 2px 2px 2px;
    -fx-border-radius:30px;
    -fx-background-radius:30px;
    -fx-border-style:solid;
    -fx-border-color:#748CF1;
}

.pane_one1{
    -fx-background-color:#E0E0E0;
    -fx-border-width:2px 2px 2px 2px;
    -fx-border-radius:30px;
    -fx-background-radius:30px;
    -fx-border-style:solid;
    -fx-border-color:#748CF1;
}

.pane_two{
    -fx-background-color:#FD9999;
    -fx-border-width:2px 2px 2px 2px;
    -fx-border-radius:30px;
    -fx-background-radius:30px;
    -fx-border-style:solid;
    -fx-border-color:#EEEEEE;
}

.pane_three{
    -fx-background-color:#353A56;
    -fx-border-width:2px 2px 2px 2px;
    -fx-border-radius:30px;
    -fx-background-radius:30px;
    -fx-border-style:solid;
    -fx-border-color:#353A56;
}

.pane_23{
    -fx-background-color:#748CF1;
    -fx-border-width:2px 2px 2px 2px;
    -fx-border-radius:15px;
    -fx-background-radius:15px;
    -fx-border-style:solid;
    -fx-border-color:#748CF1;
}
.book_id{
    -fx-font-family: Algerian;
    -fx-font-size: 16;
    -fx-background-color: #486d8f;
    -fx-border-radius: 2px;
    -fx-background-radius: 2px;
    -fx-border-style:solid;
    -fx-border-color: #040303;

}

.table{
    -fx-border-color: #355470;
    -fx-background-color: rgba(39, 136, 136, 0.66);
    -fx-text-alignment: center;
    -fx-border-radius:5px;
    -fx-border-width:2px 2px 2px 2px;
    -fx-background-radius:5px;
    -fx-border-style:solid;


}

.book_name{
    -fx-font-family: Algerian;
    -fx-font-size: 16;
    -fx-background-color: #486d8f;
    -fx-border-radius: 2px;
    -fx-background-radius: 2px;
    -fx-border-style:solid;
    -fx-border-color: #040303;

}

.author{
    -fx-font-family: Algerian;
    -fx-font-size: 16;
    -fx-background-color: #486d8f;
    -fx-border-radius: 2px;
    -fx-background-radius: 2px;
    -fx-border-style:solid;
    -fx-border-color: #040303;

}

.status{
    -fx-font-family: Algerian;
    -fx-font-size: 16;
    -fx-background-color: #486d8f;
    -fx-border-radius: 2px;
    -fx-background-radius: 2px;
    -fx-border-style:solid;
    -fx-border-color: #040303;

}

.id{
    -fx-background-color: #EEEEEE;
    -fx-border-width:2px 2px 2px 2px;
    -fx-border-radius:20px;
    -fx-background-radius:20px;
    -fx-border-style:solid;
    -fx-border-color: #748CF1;
}

.auth{
    -fx-background-color: #EEEEEE;
    -fx-border-width:2px 2px 2px 2px;
    -fx-border-radius:20px;
    -fx-background-radius:20px;
    -fx-border-style:solid;
    -fx-border-color: #748CF1;
}

.id{
    -fx-background-color: #EEEEEE;
    -fx-border-width:2px 2px 2px 2px;
    -fx-border-radius:20px;
    -fx-background-radius:20px;
    -fx-border-style:solid;
    -fx-border-color: #748CF1;
}

.name{
    -fx-background-color: #EEEEEE;
    -fx-border-width:2px 2px 2px 2px;
    -fx-border-radius:20px;
    -fx-background-radius:20px;
    -fx-border-style:solid;
    -fx-border-color: #748CF1;
}

.add{
    -fx-font-family: Algerian;
    -fx-font-size: 16;
    -fx-background-color: #486d8f;
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;
    -fx-border-style:solid;
    -fx-border-color: #040303;
    -fx-cursor: hand;
}


.add:hover {
    -fx-background-color: #2ec7cc;
}

.btn_dashboard:hover{
    -fx-background-color: #2ec7cc;
}
.btn_inventory:hover{
    -fx-background-color: #2ec7cc;
}
.btn_members:hover{
    -fx-background-color: #2ec7cc;
}
.btn_issue:hover{
    -fx-background-color: #2ec7cc;
}
.btn_return:hover{
    -fx-background-color: #2ec7cc;
}